$main-color: #222;
$btn-color: #fff;
$nav-color: #fff;
$btn-color-hover: #999999;
$btn-active-color: #4fc96e;
$btn-active-color-hover: #43ac5d;
$header-color: #222;
$content-color: #000;
$section-color: #fff;
$hover-color: #000;
$text-color: #fff;
$footer-color: #f1f1f1;
$gray: #818181;
$check-color: #0de042;
$line-color: #141212;
$unactive-color: #807f7f;
$shadow: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
